.grid {
  color: white;
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  grid-template-rows: repeat(5, minmax(100px, 1fr));
  grid-auto-columns: 100px;
}
.grid:first-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid:last-child {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}
.item {
  background-color: blue;
}

.item:nth-child() {
  background-color: blue;
}
