.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
}

.child {
  height: 200px;
  width: 200px;
  background-color: peru;
  color: white;
  font-size: 50px;
}

.child:nth-child(2){
  align-self: center;
  order: 1
}


.child:nth-child(3){
  align-self: flex-end;
}
