.father {
  display: flex;
  /* Main Axis */
  justify-content: space-around;
  height: 100vh;
  flex-wrap:wrap-reverse;
  align-content: space-around;
}

.child {
  height: 200px;
  width: 200px;
  background-color: peru;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
